* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    background-color: rgb(255, 212, 127);
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    box-shadow: 5px -5px 0px rgb(150, 110, 29) inset,
                -5px 5px 0px rgb(213, 164, 65) inset;
}

.container {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    background-color: rgb(255, 246, 212);
    height: 100%;
    box-shadow: 0px 10px 10px rgb(179, 151, 105) inset;
}

.left-pillar,
.right-pillar {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.left-pillar .top,
.right-pillar .top {
    height: 70px;
    background-image: url('assets/top-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left-pillar .bottom,
.right-pillar .bottom {
    height: 38.78px;
    background-image: url('assets/bottom-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    right: 0.5px; /* adjusted for alignment */
}

.left-pillar .mid,
.right-pillar .mid {
    background-image: url('assets/ancient-pillar.png');
    background-size: 34% auto;
    background-position: center;
    background-repeat: repeat-y;
}

.library {
    display: flex;
    flex-direction: column;
}

.library > button {
    margin-left: auto;
    background-color: rgb(207, 155, 0);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px -5px 0px rgb(174, 136, 60) inset;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 15px;
}

.book-card {
    display: flex;
    flex-direction: column;
}

.book-card-header {
    background-color: rgb(255, 208, 0);
    display: flex;
    justify-content: space-between;
}

.book-card-title {
    padding: 10px;
}

h1 {
    font-size: 10px;
}

.card-title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

#trash-icon-button {
    background-color: rgb(222, 132, 13);
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(82, 65, 30);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.trash-icon {
    background-image: url('assets/cross.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
}

.book-card-content {
    background-color: rgb(245, 223, 152);
}

#hasRead {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 2px solid rgb(174, 136, 60);
}

.footer {
    background-color: rgb(207, 155, 0);
    padding: 40px;
}

.footer div,
.footer p,
.footer a {
    text-align: center;
    color: rgb(72, 55, 0);
}