* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --secondary-font-family: 'Roboto', sans-serif;

    --light: white;
    --gold-light: rgb(255, 246, 212);
    --gold-light-medium: rgb(255, 212, 127);
    --gold-medium: rgb(207, 155, 0);
    --gold-medium-dark: rgb(174, 136, 60);
    --gold-dark: rgb(150, 110, 29);

    --yellow-light: rgb(245, 223, 152);
    --yellow-regular: rgb(255, 208, 0);
    --yellow-dark: rgb(201, 164, 0);

    --orange-regular: rgb(212, 138, 0);
    --orange-bright: rgb(255, 100, 0);
    --orange-dark: rgb(220, 88, 0);

    --red: rgb(255, 55, 0);
    --green: rgb(0, 152, 20);

    --small-spacing: 10px;
    --small-medium-spacing: 15px;
    --medium-spacing: 20px;
    --large-spacing: 30px; 

    --shadow-inset: 0px 3px 10px var(--gold-dark) inset;
    --shadow-regular: 0px 3px 10px var(--gold-dark);
}

body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--gold-light-medium);
    padding: var(--medium-spacing) 0;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    box-shadow: 5px -5px 0px var(--gold-dark) inset,
                -5px 5px 0px var(--gold-medium) inset;
    display: flex;
    align-items: center;
}

.library-icon {
    background-image: url('assets/library.svg');
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-left: var(--medium-spacing);
    margin-right: var(--small-spacing);
}

main {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    background-color: var(--gold-light);
    flex: 1;
    box-shadow: var(--shadow-inset);
}

.left-pillar,
.right-pillar {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.left-pillar .top,
.right-pillar .top {
    height: 70px;
    background-image: url('assets/top-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left-pillar .bottom,
.right-pillar .bottom {
    height: 38.78px;
    background-image: url('assets/bottom-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left-pillar .mid,
.right-pillar .mid {
    background-image: url('assets/ancient-pillar.png');
    background-size: 34% auto;
    background-position: center;
    background-repeat: repeat-y;
}

.library {
    display: flex;
    flex-direction: column;
    padding: var(--medium-spacing) 0;
}

.library > button,
form > button {
    margin: 10px 30px 20px auto;
    background-color: var(--gold-medium);
    border: none;
    padding: var(--small-spacing) var(--small-medium-spacing);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px -5px 0px var(--gold-medium-dark) inset;
    cursor: pointer;
}

.library > button:hover,
form > button:hover {
    background-color: var(--orange-regular);
    box-shadow: 5px -5px 0px var(--gold-dark) inset;
}

.library > button:active,
form > button:active {
    position: relative;
    top: 2px;
    right: 2px;
    padding: 8px 13px var(--small-spacing) var(--small-medium-spacing);
    background-color: var(--orange-regular);
    box-shadow: 3px -3px 0px var(--gold-dark) inset;
}

/* Offset buttons when they are pressed */
.library > button:active,
form > button:active {
    margin-bottom: 22px;
}

/* Offset text inside buttons when they are pressed */
.library > button:active span,
form > button:active span {
    position: relative;
    top: 2px;
    right: 2px;
}

.filter-btns {
    display: none;
    justify-content: center;
    margin: var(--small-spacing) 0;
}

.filter-btn {
    background-color: var(--gold-light-medium);
    border: 2px solid var(--orange-regular);
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

.filter-btn.active {
    background-color: var(--gold-medium);
    border: 2px solid var(--gold-dark);
    color: var(--light);
}

.helper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: rgb(111, 111, 111, 0.7);
    height: 100%;
    font-family: var(--secondary-font-family);
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: var(--medium-spacing);
}

.book-card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-regular);
    border: 2px solid var(--yellow-dark);
}

.book-card-header {
    background-color: rgb(255, 208, 0);
    display: flex;
    justify-content: space-between;
}

.book-card-title {
    padding: var(--small-spacing);
}

h1 {
    font-size: 10px;
}

.card-title {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
}

.trash-icon-btn {
    background-color: var(--orange-regular);
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.trash-icon-btn:hover {
    background-color: var(--orange-bright);
}

.trash-icon-btn:active {
    background-color: var(--orange-dark);
}

.trash-icon {
    background-image: url('assets/cross.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
}

.book-card-content {
    background-color: var(--yellow-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.book-card-details {
    display: flex;
    gap: var(--medium-spacing);
    padding: var(--small-spacing);
}

.book-card-author,
.book-card-pages {
    width: 50%;
}

.card-author,
.card-pages {
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
}

.book-completion-status {
    margin-left: auto;
    padding: 0 var(--small-spacing) var(--small-spacing) 0;
    display: flex;
    flex-direction: column;
}

.book-completion-status > button {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    background-color: var(--gold-medium);
    border: 2px solid var(--gold-medium-dark);
    margin-left: auto;
}

.book-completion-status > button:hover {
    border: 2px solid var(--gold-dark);
}

.book-completion-status > button:active {
    background-color: var(--gold-medium-dark);
}

.book-completion-status > button.hasRead .check-mark {
    background-image: url('assets/checkmark.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: auto;
}

button + .completion-status {
    color: var(--red);
}

button.hasRead + .completion-status {
    color: var(--green);
}

footer {
    background-color: var(--gold-medium);
    padding: var(--large-spacing);
}

footer div,
footer p,
footer a {
    text-align: center;
    color: rgb(72, 55, 0);
}

#popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    font-family: var(--secondary-font-family);
    border: 1px solid rgb(200, 200, 200);
    width: 360px;
}

#popup-form::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, var(--gold-medium), var(--gold-light-medium));
    border-bottom: 1px solid rgb(146, 146, 146);
}

.dialog-header h2 {
    font-size: 30px;
    padding: var(--large-spacing) 0 var(--small-spacing) var(--medium-spacing);
}

#close-btn {
    background: linear-gradient(to bottom right, var(--orange-bright), var(--gold-light-medium));
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: var(--small-spacing) var(--small-spacing) 0px 0px;
    cursor: pointer;
}

#close-btn:hover {
    background: linear-gradient(to bottom right, rgb(255, 55, 0), rgb(255, 191, 0));
}

#close-btn:active {
    background: linear-gradient(to bottom right, rgb(224, 49, 0), rgb(230, 172, 0));
}

.close-icon {
    background-image: url('assets/cross.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgb(196, 196, 196) inset;
}

label[for="title"],
label[for="author"],
label[for="pages"] {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    letter-spacing: 1.3px;
    padding: var(--medium-spacing) 0 5px var(--medium-spacing);
}

input[id="title"],
input[id="author"],
input[id="pages"] {
    border: 1px solid rgb(208, 208, 208);
    background-color: rgb(250, 250, 250);
    width: 300px;
    margin-left: var(--medium-spacing);
    font-size: 16px;
    padding: 5px;
}

input[id="title"]:focus,
input[id="author"]:focus,
input[id="pages"]:focus {
    outline: none;
    border: 1px solid var(--gold-medium);
    box-shadow: 0 3px 5px rgb(215, 215, 215);
}

#read-status {
    margin: var(--small-spacing) 0 5px var(--medium-spacing);
    display: flex;
    align-items: center;
}

#read-status label {
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    top: -2px;
}

#read-status input[type="checkbox"] {
    accent-color: var(--yellow-regular);
}