* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    background-color: rgb(255, 212, 127);
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    box-shadow: 5px -5px 0px rgb(150, 110, 29) inset,
                -5px 5px 0px rgb(213, 164, 65) inset;
}

.container {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    background-color: rgb(255, 246, 212);
    height: 100%;
    box-shadow: 0px 10px 10px rgb(179, 151, 105) inset;
}

.left-pillar,
.right-pillar {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.left-pillar .top,
.right-pillar .top {
    height: 70px;
    background-image: url('assets/top-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left-pillar .bottom,
.right-pillar .bottom {
    height: 38.78px;
    background-image: url('assets/bottom-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    right: 0.5px; /* adjusted for alignment */
}

.left-pillar .mid,
.right-pillar .mid {
    background-image: url('assets/ancient-pillar.png');
    background-size: 34% auto;
    background-position: center;
    background-repeat: repeat-y;
}

.library {
    display: flex;
    flex-direction: column;
}

.library > button {
    margin-left: auto;
    background-color: rgb(207, 155, 0);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px -5px 0px rgb(174, 136, 60) inset;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.book-card {
    background-color: yellow;
}
.footer {
    background-color: rgb(207, 155, 0);
    padding: 40px;
}

.footer div,
.footer p,
.footer a {
    text-align: center;
    color: rgb(72, 55, 0);
}