* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    background-color: rgb(255, 212, 127);
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    box-shadow: 5px -5px 0px rgb(150, 110, 29) inset,
                -5px 5px 0px rgb(213, 164, 65) inset;
}

.container {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    background-color: rgb(255, 246, 212);
    height: 100%;
    box-shadow: 0px 10px 10px rgb(179, 151, 105) inset;
}

.left-pillar,
.right-pillar {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.left-pillar .top,
.right-pillar .top {
    height: 70px;
    background-image: url('assets/top-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left-pillar .bottom,
.right-pillar .bottom {
    height: 38.78px;
    background-image: url('assets/bottom-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left-pillar .mid,
.right-pillar .mid {
    background-image: url('assets/ancient-pillar.png');
    background-size: 34% auto;
    background-position: center;
    background-repeat: repeat-y;
}

.library {
    display: flex;
    flex-direction: column;
}

.library > button {
    margin-left: auto;
    background-color: rgb(207, 155, 0);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px -5px 0px rgb(174, 136, 60) inset;
    cursor: pointer;
}

.library > button:hover,
form > button:hover {
    background-color: rgb(212, 138, 0);
    box-shadow: 5px -5px 0px rgb(152, 112, 53) inset;
}

.library > button:active,
form > button:active {
    position: relative;
    top: 2px;
    right: 2px;
    padding: 8px 13px 10px 15px;
    background-color: rgb(208, 135, 0);
    box-shadow: 3px -3px 0px rgb(122, 90, 43) inset;
}

.library > button:active span,
form > button:active span {
    position: relative;
    top: 2px;
    right: 2px;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px rgb(199, 171, 115);
    border: 2px solid rgb(187, 152, 81);
}

.book-card-header {
    background-color: rgb(255, 208, 0);
    display: flex;
    justify-content: space-between;
}

.book-card-title {
    padding: 10px;
}

h1 {
    font-size: 10px;
}

.card-title {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
}

.trash-icon-btn {
    background-color: rgb(222, 132, 13);
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.trash-icon-btn:hover {
    background-color: rgb(255, 100, 0);
}

.trash-icon-btn:active {
    background-color: rgb(220, 88, 0);
}

.trash-icon {
    background-image: url('assets/cross.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
}

.book-card-content {
    background-color: rgb(245, 223, 152);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.book-card-details {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.book-card-author,
.book-card-pages {
    width: 50%;
}

.card-author,
.card-pages {
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
}

.book-completion-status {
    margin-left: auto;
    padding: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
}

.hasRead {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    background-color: rgb(212, 178, 104);
    border: 2px solid rgb(174, 136, 60);
    margin-left: auto;
}

.completion-status {
    color: rgb(255, 55, 0);
}

.footer {
    background-color: rgb(207, 155, 0);
    padding: 40px;
}

.footer div,
.footer p,
.footer a {
    text-align: center;
    color: rgb(72, 55, 0);
}

#popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(200, 200, 200);
    width: 360px;
}

#popup-form::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, rgb(207, 155, 0), rgb(255, 235, 168));
    border-bottom: 1px solid rgb(146, 146, 146);
}

.dialog-header h2 {
    font-size: 30px;
    padding: 30px 0 10px 20px;
}

#close-btn {
    background: linear-gradient(to bottom right, rgb(189, 86, 1), rgb(242, 206, 162));
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}

#close-btn:hover {
    background: linear-gradient(to bottom right, rgb(255, 55, 0), rgb(255, 191, 0));
}

#close-btn:active {
    background: linear-gradient(to bottom right, rgb(224, 49, 0), rgb(230, 172, 0));
}

.close-icon {
    background-image: url('assets/cross.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
    filter: invert(0);
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgb(196, 196, 196) inset;
}

label[for="title"],
label[for="author"],
label[for="pages"] {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    letter-spacing: 1.3px;
    padding: 20px 0 5px 20px;
}

input[id="title"],
input[id="author"],
input[id="pages"] {
    border: 1px solid rgb(208, 208, 208);
    background-color: rgb(250, 250, 250);
    width: 300px;
    margin-left: 20px;
    font-size: 16px;
    padding: 5px;
}

input[id="title"]:focus,
input[id="author"]:focus,
input[id="pages"]:focus {
    outline: none;
    border: 1px solid rgb(207, 155, 0);
    box-shadow: 0 3px 5px rgb(215, 215, 215);
}

#read-status {
    margin: 10px 0 5px 20px;
    display: flex;
    align-items: center;
}

#read-status label {
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    top: -2px;
}

#read-status input[type="checkbox"] {
    accent-color: rgb(255, 191, 0);
}

form > button {
    margin: 10px 30px 20px auto;
    background-color: rgb(207, 155, 0);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px -5px 0px rgb(174, 136, 60) inset;
    cursor: pointer;
}

form > button:active {
    margin-bottom: 22px;
}