* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    background-color: rgb(255, 212, 127);
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    box-shadow: 5px -5px 0px rgb(150, 110, 29) inset,
                -5px 5px 0px rgb(213, 164, 65) inset;
}

.container {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    background-color: rgb(255, 246, 212);
    height: 100%;
    box-shadow: 0px 10px 10px rgb(179, 151, 105) inset;
}

.left-pillar,
.right-pillar {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.left-pillar .top,
.right-pillar .top {
    height: 70px;
    background-image: url('assets/top-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left-pillar .bottom,
.right-pillar .bottom {
    height: 38.78px;
    background-image: url('assets/bottom-ancient-pillar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left-pillar .mid,
.right-pillar .mid {
    background-image: url('assets/ancient-pillar.png');
    background-size: 34% auto;
    background-position: center;
    background-repeat: repeat-y;
}

.library {
    display: flex;
    flex-direction: column;
}

.library > button {
    margin-left: auto;
    background-color: rgb(207, 155, 0);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px -5px 0px rgb(174, 136, 60) inset;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px rgb(199, 171, 115);
    cursor: pointer;
    border: 2px solid rgb(187, 152, 81);
}

.book-card-header {
    background-color: rgb(255, 208, 0);
    display: flex;
    justify-content: space-between;
}

.book-card-title {
    padding: 10px;
}

h1 {
    font-size: 10px;
}

.card-title {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
}

#trash-icon-button {
    background-color: rgb(222, 132, 13);
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(82, 65, 30);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.trash-icon {
    background-image: url('assets/cross.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
}

.book-card-content {
    background-color: rgb(245, 223, 152);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.book-card-details {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.book-card-author,
.book-card-pages {
    width: 50%;
}

.card-author,
.card-pages {
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
}

#book-completion-status {
    margin-left: auto;
    padding: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
}

#hasRead {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    background-color: rgb(212, 178, 104);
    border: 2px solid rgb(174, 136, 60);
    margin-left: auto;
}

#completion-status {
    color: rgb(255, 55, 0);
}

.footer {
    background-color: rgb(207, 155, 0);
    padding: 40px;
}

.footer div,
.footer p,
.footer a {
    text-align: center;
    color: rgb(72, 55, 0);
}

#popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(200, 200, 200);
}

#popup-form::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
}

.dialog-header h2 {
    font-size: 25px;
}

#close-btn {
    background: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(255, 205, 205));
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.close-icon {
    background-image: url('assets/cross.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
    filter: invert(0);
}

label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: gray;
    letter-spacing: 1.3px;
}